@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #2a2a2c;
  --primary-color: #701236;
  --bg-color: #fff;
  --secondary-color: #cdbcac;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}
